%button-first {
  background: #5126f5;
  color: #fff;
}

%button-second {
  background: #f3d246;
  color: #000;
}

%button-third {
  background: #51b751;
  color: #000;
}

%button-fourth {
  background: #cf2c44;
  color: #fff;
}
