%primary-color {
  color: #333;
}
%secondary-color {
  color: #fff;
}

/*BACKGROUND*/
%primary-bg {
  background-color: #333;
}
%secondary-bg {
  background-color: #f4f4f4;
}
%tritiary-bg {
  background-color: #e4e4e4;
}
